.footer {
  background-color: var(--primary-background-color);
  padding: 60px 0;
  .footer__container {
    display: flex;
    align-items: baseline;
  }
  .footer__contact {
    margin-right: 70px;
    flex-grow: 1;
  }
  .footer__list-address {
    font-style: normal;
    list-style: none;
  }
  .footer__address-item {
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer__address-link {
    color: var(--primary-white-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .footer__contact-link {
    color: var(--translucent-black-color);
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-property: color;
    @extend %transition;
    &:hover,
    &:focus {
      color: var(--focus-color);
    }
  }
}

.footer-social {
  margin-right: 93px;

  .footer-social__title {
    margin-bottom: 20px;

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-text-primary);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
  .footer-social__list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .footer-social__item {
    width: 44px;
    height: 44px;
  }
  .footer-social__link {
    @extend %flex;
    width: 100%;
    height: 100%;
    fill: var(--primary-white-color);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    @extend %transition;
    &:hover,
    &:focus {
      fill: var(--primary-white-color);
      background-color: var(--focus-color);
    }
  }
}

.form-title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-text-primary);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  .footer-form__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid var(--border-footer-form-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--primary-background-color);
    color: var(--primary-white-color);
    &::placeholder {
      font-weight: var(--font-weight-normal);
      font-size: var(--font-size-text-secondary);
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: var(--translucent-black-color);
    }
  }
  .footer-form__icon {
    fill: var(--primary-white-color);
  }
}
