.logo {
  color: var(--focus-color);
  font-family: var(--font-family-logo);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-logo);
  line-height: 1.19;
  letter-spacing: 0.03em;
  .logo__text {
    color: var(--primary-black-color);
  }
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
  .footer-logo__text {
    color: var(--primary-white-color);
  }
}
