:root {
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --focus-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --translucent-black-color: rgba(255, 255, 255, 0.6);
  --primary-svg-color: #afb1b8;
  --input-border: rgba(33, 33, 33, 0.2);
  --shadow-button-primary: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --button-form-color-hover: #188ce8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --button-close-border: rgba(0, 0, 0, 0.1);
  --border-footer-form-color: rgba(255, 255, 255, 0.3);
  --header-line-color: #ececec;
  --font-family-logo: 'Raleway';
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --font-size-modal-text: 12px;
  --font-size-text-primary: 14px;
  --font-size-text-secondary: 16px;
  --font-size-card-content: 18px;
  --font-size-modal: 20px;
  --font-size-logo: 26px;
  --font-size-text-header: 36px;
  --font-size-text-large: 44px;
}
